<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first</title>
    <style>
        #one {
            display: inline;
        }
    </style>
</head>

<body>
    <div class="collapse navbar-collapse" id="one">
        <button><a href="#" id="onePage">page 1</a></button>
        <button><a href="#" id="twoPage">page 2</a></button>
        <button><a href="#" id="threePage">page 3</a></button>
        <button><a href="#" id="fourPage">page 4</a></button>
    </div>
    <h1>first페이지 입니다.</h1>
    <a href="/sql">sql 결과 확인하기</a>
    <!-- <a href="/chart">라인차트 결과 확인하기</a> -->
    <a href="/Jchart">jsp페이지 차트 결과 확인하기</a>
    <a href="/data">크롤링 결과 확인하기</a>
    <a href="/loginform">로그인 페이지 가기</a>
    <p>{{result}}</p>
</body>

</html>